@model IEnumerable<Library_Management_System.Models.Book>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Book List";
}

<h2 class="my-3">Book List</h2>

<p>
    <a asp-action="CreateBook" class="btn btn-primary mb-3">Add New Book</a>
</p>

<table class="table table-bordered table-striped text-center align-middle" id="BookTable">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publisher</th>
            <th>Published Date</th>
            <th>Category</th>
            <th>Cover</th>
            <th>Total Copies</th>
            <th>Available</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<!-- Book Details Modal -->
<div class="modal fade" id="bookDetailsModal" tabindex="-1" aria-labelledby="bookDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookDetailsLabel">Book Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bookDetailsContent">
                <!-- AJAX loaded content -->
            </div>
        </div>
    </div>
</div>

<!-- Book Edit Modal -->
<div class="modal fade" id="bookEditModal" tabindex="-1" aria-labelledby="bookEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookEditModalLabel">Edit Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bookEditContent">
                <!-- AJAX loaded edit form -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script src="~/js/book.js"></script>
}
